#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Houdini FX
Name[en_US]=Houdini FX
GenericName=Houdini FX
Comment=3D Animation Tools
Exec=houdini %F
Icon=houdini_logo.png
Type=Application
Terminal=true
Encoding=UTF-8
Categories=Graphics;

